@model OrderVM
@{
    decimal total = 0;
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-action="Index" asp-controller="Home">Home</a>
                <a class="breadcrumb-item text-dark" asp-action="Index" asp-controller="Shop">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Address Line</label>
                            <input class="form-control" asp-for="Address" placeholder="123 Street">
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                    </div>
                    <div class="mb-5">
                        <button class="btn btn-block btn-primary font-weight-bold py-3" type="submit">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    @foreach (BasketItem item in Model.BasketItems)
                    {
                        total += item.Product.Price * item.Count;
                        <div class="d-flex justify-content-between">
                            <p>@item.Product.Name  @item.Product.Price × @item.Count</p>
                            <p>Sub-Total: @(item.Product.Price * item.Count)</p>
                        </div>
                    }
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>$@total</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->